body{
    background-color:bisque;
    color:hsl(216, 100%, 30%);
    font-family:sans-serif;
    text-align:center;
    font-size:2em;
    text-decoration:underline;
}

ul li{
    list-style-type: none;
}

a{
    color:hsla(216, 100%, 30%);
    text-decoration:none;
    transition: color 0.3s ease;
}

a:hover{
    color:hsla(216, 100%, 50%);
}

a:active{
    color:hsla(216, 100%, 70%);
}
